select{
  width: 20%;
  min-width:100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
}
option{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  
}
.filter-cotainer{
  display: flex;
  flex-direction: row;
  
  background-color: #a892ee;
  padding: 0.5rem;
  align-self: center;
  width: 100%;
  border-radius: 12px;

  justify-content: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);

  top: 0px;

}
