ol{
  border-radius: 25px;
  padding: 3%;
  background-color: #f8dfff;;
  width: 100%;
}
ol li{
  list-style-type: none;
}
.expenses_container{
  
  background-color: #a892ee;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.scroller
{
overflow-y: scroll;

height: 200px;
display: grid;
align-items: center;
}
@media  (max-width:768px){
  .card_and_filter {
  width:100vw;
  }
}
.card_and_filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button{
  width:100%
}