select{
  width: 20%;
  height: 30px;
  border-radius: 10px;
}
option{
  width: 100%;
  height: 30px;
  border-radius: 10px;
}
.filter-cotainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  
  max-width: 100%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0px;
 
}