@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  
}

body {
  margin: 0;
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
}


.new-expense {
  background-color: #a892ee;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  position: sticky;
  
 
}
.content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 height: fit-content;

 
}
